        // regex in the form: <miniscanner>(opt) regex
_optMs_regex:       
    ms_spec regex
    {   // following a <ms>regex, reset the ms back to INITIAL
        d_rules.resetStartConditions();
    }
|
    regex
;

    // series of _optMs_regexes, separated by '|' at the end of lines. E.g.,
    // _optMs_regex1   |
    // _optMs_regex2   |
    // _optMs_regex3
    // (ORNL is returned at '| {OPTBL} \n')
    // at ORNL any previously set ms-spec ends, and is back to INITIAL

_optMs_regex_list:                              // after ORNL continue parsing
    _optMs_regex_list ORNL nl_reset _optMs_regex_list  // at a new line
    {                                              
        $$ = alternatives($1, $3);
    }
|
    _optMs_regex
;

_rule_def:
    // only an empty line is OK
|
    // recovery from errors is OK: continue at the next line
    error       
|
        // just regular expressions, without an action block
    _optMs_regex_list 
    {
        //addRule($1);
    }
|
        // the scanner returns a block if it encounters a non-blank character
        // on a line after ws, unless the character is a '|'
    _optMs_regex_list block    
    {
        //addBlockRule($1);
    }
|
    msCompound
|
    eof_pattern
;

    // each rule ends in a '\n'
_rule:                      
    _rule_def '\n' nl_reset
;                               
                                
    // there may be no rules
    // the scanner skips blanks, but returns '\n'
rules:
    rules _rule
|
    // empty
;
